# Videos
*.mp4

# ==========================
# Frontend (React / Node.js)
# ==========================
frontend/node_modules/
/frontend/build/  # <-- Make it specific to the root 'frontend' directory

# ==========================
# Machine Learning (YOLO / datasets)
# ==========================
# Raw datasets (too big for git)
ml/dataset/images/
ml/dataset/labels/

# ==========================
# PyTorch / YOLO training outputs
# ==========================
runs/
video_results/
*.pt
*.cache